* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between; /* Espace entre le logo et les liens */
    align-items: center;
    padding: 10px 20px; /* Ajuste l'espacement interne */
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond avec transparence */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ff6b6b; /* Changement de couleur au survol */
}

/*** Section 1 ***/

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding: 2rem;
}

.info {
    width: 45%; /* Prend 45% de la largeur */
    color: white;
    padding-top: 7rem;
    padding-left: 2rem;
}

.text {
    font-size: 3rem;
    color: #ff0000;
    padding: 1rem;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: bounce 0.6s ease infinite alternate;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.text-section1 {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 1rem;
    text-align: justify;
}

.butonsection1 {
    display: flex;
    gap: 1rem; /* Espace entre les boutons */
    margin-left: 1rem;
}

.btncarte a, .btninfoshop a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btncarte a:hover, .btninfoshop a:hover {
    background-color: #333;
}


.imgsection1 {
    width: 45%; /* Prend 45% de la largeur */
    display: flex;
    justify-content: flex-end; /* Aligne l'image à droite */
}

.imgsection1 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    animation: float 3s ease-in-out infinite; /* Animation continue : nom, durée, transition*/
    transform-origin: center;
}

@keyframes float {
    0% {
        transform: translateY(0); /* Position de départ */
    }
    50% {
        transform: translateY(-10px); /* Montée */
    }
    100% {
        transform: translateY(0); /* position initiale */
    }
}

/*** Section 2 ***/

.section2 {
    width: 50%;
    height: 40vh;
    background-color: antiquewhite;
}


/*** Section 3 ***/

.section3 {
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    justify-content: center;
}

.carousel-image {
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 1s ease-in-out; /* Transition pour la fluidité */
}

.carousel-image.active {
    display: block;  /* Affiche uniquement l'image active */
    opacity: 1;
    animation: fadeIn 1s ease-in-out; /* Applique l'animation de fondu */
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {  
        opacity: 1; 
    }
}

/*** Section 4 ***/

.section4 {
    width: 100%;
    height: 100vh;
}

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url('img/');
    background-position: center bottom; /* Positionne l'image au centre et en bas */
    background-size: contain; /* Contient l'image dans la section */
    background-repeat: no-repeat;
}

.accueil h1 {
    font-size: 3rem;
    color: #ff6b6b;
}

.text-accueil {
    width: 50%;
    margin: 0 auto;
    font-size: 0.6rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.1);
    text-align: justify;
}

.text-accueil p {
    font-size: 1.2rem;
    line-height: 1.6;
}


/*** Section 5 ***/

.section5 {
    width: 100%;
    height: 100vh;
    background-color: #ff6b6b;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Centrer verticalement les éléments */
    flex-wrap: wrap;
    text-align: center; /* Centrer le texte */
}

.contact, .reseau, .mapshop {
    display: flex;
    display: inline-block;
    margin: 20px;
}

.contact h1, .reseau h2, .mapshop h2 {
    margin-bottom: 20px; /* Espacement uniforme sous chaque titre */
}

.contact p, .mapshop p {
    margin-top: 10px;
}

.media-icons a {
    font-size: 2rem; 
    margin: 0 1rem; 
    width: 6rem; 
    color: #333; 
    transition: color 0.3s; 
}

.media-icons a:hover {
    color: #ffffff; 
}
